# Python cache files
# These are automatically created by Python when running scripts
__pycache__/
*.py[cod]

# Virtual environments
# Ignore virtual environment directories if you create one in the future
.venv/
env/

# Log files
# Ignore any log files that may appear
*.log

.vscode/

